{% extends 'base.html' %}

{% block title %}User Activity - Admin{% endblock %}

{% block content %}
<div class="level mb-5">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title is-2">📈 User Activity Report</h1>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <a href="{{ url_for('admin.index') }}" class="button is-light">
                <span class="icon">⬅️</span>
                <span>Back to Admin</span>
            </a>
        </div>
    </div>
</div>

<div class="notification is-info is-light mb-5">
    <p><strong>📅 Report Period:</strong> Last 30 Days</p>
</div>

<div class="box">
    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th class="has-text-right">Recipes Created</th>
                    <th class="has-text-right">Recipes Forked</th>
                    <th class="has-text-right">Total Activity</th>
                </tr>
            </thead>
            <tbody>
            {% for user in activity %}
                <tr>
                    <td>
                        <div class="is-flex is-align-items-center">
                            <div class="avatar mr-2" style="width: 32px; height: 32px; font-size: 1rem;">
                                {{ user.username[0].upper() }}
                            </div>
                            <strong>{{ user.username }}</strong>
                        </div>
                    </td>
                    <td class="has-text-right">
                        <span class="tag is-info">✨ {{ user.recipes_created }}</span>
                    </td>
                    <td class="has-text-right">
                        <span class="tag is-success">🍴 {{ user.recipes_forked }}</span>
                    </td>
                    <td class="has-text-right">
                        <span class="tag is-primary is-large">
                            <strong>{{ user.recipes_created + user.recipes_forked }}</strong>
                        </span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="has-text-centered has-text-grey">
                        <p class="py-4">No activity in the last 30 days.</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
